
body

{

    background-image: url(./images/bg.jpg);  /*设置背景图片*/

    background-size: 100% 100%;              /*背景图覆盖方式  还要再学*/

    background-repeat: no-repeat;             /*背景图填充方式*/

    background-attachment: fixed;            /*背景图固定，不随页面滚动*/

}

h1

{

    letter-spacing: 0.5rem;               /*文字间距*/

    font-size: 2.06rem;

    color: cornsilk;

}

h1 a

{

    text-decoration: none;

}

.p1

{

    color: goldenrod;

    font-size: 28px;

    letter-spacing: 0.5rem;

}

ul

{

    display: inline-block;

    list-style-type: none;       /*去掉导航文字前边的·*/

}

li

{

    float: left;    /*左侧浮动布局*/

}

li a

{

    text-decoration: none;  /* 去掉导航文字的下划线*/

    font-size: larger;

}

li + li

{

    margin-left: 1.25rem;       /*导航之间距离*/

}

li a, .dropbtn               /*可以下拉的导航键的文字格式*/

{   /*设置下弹按钮格式*/

    display: block;         /*让（对象）LI排成一行*/

    color: black;           /*所有导航栏字体颜色*/

    text-align: center;

    text-decoration: none;

    padding: 1.25rem 0.625rem;     /*内边距*/

}

li a:hover,.dropdown:hover.dropbtn    /*鼠标移动到 a 的样式*/

{

    background-color: yellowgreen;

}

.dropdown

{

    display: inline-block;

}

.dropdown a

{

    font-size: larger

}

.dropdown-content                   /*下拉内容样式*/

{

    display: none;

    position: absolute;

    background-color: yellowgreen;

    min-width: 10rem;

    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);   /*下拉出来的窗口的盒子格式*/

}

.dropdown-content a                /*下拉内容的文字样式*/

{

    color: black;

    padding: 0.75rem 1rem;

    text-decoration: none;

    display: block;

}

.dropdown-content a:hover          /*下拉出来的内容的（文字）鼠标悬停后的样式*/

{

    background-color: yellow;

}

.dropdown:hover .dropdown-content

{

    display: block

}
